.score {
    position: relative;
    display: inline-block;
    background: transparent no-repeat center center;
    background-size: contain;
    width: 3em;
    height: 3em;
    font-family: 'Lobster', sans-serif;
}

.score__amount {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1em;
    transform: translateY(-50%);
}